<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f2315f2eaa.js" crossorigin="anonymous"></script>

   
    
<Title>MMMMMMMMMM</Title>
</Head>
<Body>

   
<Main id="game">
    

<Section Class="Player Player--0 Player--Active">
<H2 Class="Name" Id="Name--0">Player 1</H2>
<br>
<br>

<h2 id="p1HP">  </h2>
<br />
<br>
<h2 id="p1PWR">  </h2>
<br />
<br />
<h2 id="p1BLK">  </h2>
<textarea id="timer" cols="45" rows="4"></textarea>
<br />

<i class="fa-solid fa-spinner fa-spin-pulse fa-3x" id="p1Wait"></i>
<br><br>
<img src= " " alt="" id="p1Pic">


<!--<textarea id="p1choice" cols="30" rows="10"></textarea>
<div  id="cards">
   <!-  <button class="card" id="ATK"> ATK </button>
    <button class="card" id="BLK"> BLK </button>
    <button class="card" id="CRG"> CRG </button>-->

</Section>

 <a href="index.html">Single Player</a>
<Section Class="Player Player--1">
<H2 Class="Name" Id="Name--1">Player 2</H2>
<br>
<br>
<h2 id="p2HP">   </h2>
<br />
<br>
<h2 id="p2PWR">  </h2>
<br />
<br />
<h2 id="p2BLK">  </h2>
<br><br><br><br><br><br>

<i class="fa-solid fa-spinner fa-spin-pulse fa-3x" id="p2Wait"></i>
<br><br>
<img src=" " alt="" id="p2Pic">






<Button Class="Btn Btn--New" id="NewGame" className="startButt">New Game</Button> 
<Button Class="Btn" id="tut" className="tut">How to play</Button> 

<br>
<br>
<!--<Button Class="Btn" id="Duel"> Duel </Button> -->



</Main>
<script>

    
// Assigning variables to HTML elements // 
let inputField = document.getElementById("timer");
let playerMove = document.querySelector("p");
let p1Choice =document.getElementById("p1choice");
let buttATK = document.getElementById("ATK");
let game = document.getElementById("game");
let duel = document.getElementById("Duel");
let p1PWR =  document.getElementById("p1PWR");
let help = document.getElementById("tut");
let p1Wait =  document.getElementById("p1Wait");
let p2Wait =  document.getElementById("p2Wait");
let p1Pic =  document.getElementById("p1Pic");
let p2Pic =  document.getElementById("p2Pic");
let characterButtons = document.querySelectorAll('.character button');


// creating variables for New game button //
let startGame = document.getElementById("NewGame");

let winner = false;

// Hiding the cards //
p1Wait.style.visibility = "hidden";
p2Wait.style.visibility = "hidden";
//p1Pic.style.visibility = "hidden";
//p2Pic.style.visibility = "hidden";

// Creating an Array of sentences to hold the Tutorial messages //
let tut = ["Each Player starts with 5 Health (HP)","And 1 base Attack Power (PWR)", "Press'W' or 'Up-Arrow' to Attack your opponent", "Press 'A or 'Right-Arrow' to Defend", "Press 'D' or 'Right-Arrow to Charge", "Doing so will increase your Attack PWR by 1"];let i = 0;
let loser = ["fa-solid fa-face-sad-sweat", "fa-solid fa-face-pleading","fa-solid fa-face-head-bandage"]; 

// Using 'setTimeout' function to have the Tutorial messages and effects change automatically //
help.addEventListener("click", tutorial);
function tutorial() {
    i = 0;
    inputField.innerText = tut[i];
    document.getElementById("p1HP").innerHTML = " " ;
    document.getElementById("p2HP").innerHTML = " ";
    document.getElementById("p1PWR").innerHTML = " ";
    document.getElementById("p2PWR").innerHTML = " ";
    p1Wait.style.visibility = "hidden"; 
    p2Wait.style.visibility = "hidden"; 
    
    if(i == 0){
        document.getElementById("p1HP").innerHTML =` HP: ${player1.baseHP}`;
        document.getElementById("p2HP").innerHTML =`HP: ${player2.baseHP}`;
        setTimeout(function(){
            document.getElementById("p1HP").style.color = "#90ee90";
            document.getElementById("p2HP").style.color = "#90ee90";
            i++;
        }, 500);
        
        setTimeout(function(){ 
            inputField.innerText = tut[i];
            p1PWR.innerText = `PWR: ${player1.ATK}`;
            document.getElementById("p2PWR").innerHTML =` PWR: ${player2.ATK}`;
            document.getElementById("p1HP").style.color = "black";
            document.getElementById("p2HP").style.color = "black"; document.getElementById("p1PWR").style.color = "#D10000";
            document.getElementById("p2PWR").style.color = "#D10000"; 
            i++
        }, 3500);
        
        setTimeout(function(){
            inputField.innerText = tut[i];
            i++
        }, 6500);
        
        setTimeout(function(){
            
            inputField.innerText = tut[i];
            i++; 
        }, 9500);
        
        setTimeout(function(){
            
            inputField.innerText = tut[i-1];
            i++
        }, 11500); 
        
        setTimeout(function(){
            
            inputField.innerText = tut[i-1];
            i++
        }, 16500); 
        
        setTimeout(function(){
            inputField.innerText = tut[i-1];
            i++
        }, 20000); 
    }
    window.reload()
}       



//Creating variables for the player's move choices //
let player1_Move;
let player2_Move;
let player1_choice = false; 
let player2_choice = false;


// // Player 1 attributes
// const player1 = {
//     baseHP : 5,
//     ATK : 1,
//     CRG : 0,
//     hasCharge : false,
//     timesATK : 0,
//     removeCharge(){
//         if(player1.hasCharge){
//             player1.ATK = 1;
//             player1.hasCharge = false;
//         }
//     },
//     blockCount : 0

// }
//perks 
// special attacks that deal 'elemental' damage (elemental based rps)
// Define the Player class
class Player {
    constructor() {
        this.name = "Player";
        this.baseHP = 5;
        this.HP = 5
        this.baseATK = 1
        this.ATK = 1;
        this.CRG = 0;
        this.hasCharge = false;
        this.timesATK = 0;
        this.blockCount = 0;
        this.blocking = false;
        this.shield = 0;
        this.attacked = false
    }
    
    removeCharge() {
        this.ATK = this.baseATK;
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
    }
    takeDamage(damage, currentHP){
        
        this.HP -= damage;
    }
    
    block() {
        this.shield ++;
        if(this.shield > 1){
            this.shield = 1;
        }
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
        
    }
    special(){
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
        
        this.ATK ++;
        this.blocking = false
    }
}

// Define the Tank class     -- !!Find a way to balance the shield!! --
class Tank {
    constructor() {
        this.name = "Tank";
        this.baseHP = 6;
        this.HP = 6;
        this.baseATK = 1;
        this.ATK = 1;
        this.CRG = 0;
        this.hasCharge = false;
        this.timesATK = 0;
        this.blockCount = 0;
        this.blocking = false;
        this.shield = 0;
        this.attacked = false;
        this.hardenBuff = 0;
        
    }
    
    removeCharge(){
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
    }
    
    takeDamage(damage, currentHP){
        
        let remaining = this.shield - damage;
        this.HP += remaining;
        this.shield = this.HP - currentHP;
        if(this.shield <= 0){
            this.shield = 0;
        }
        this.HP -= this.shield;
    }
    
    block(){
        console.log(this.ATK);
        this.shield ++;
        if(this.shield > 2){
            this.shield = 0
            this.ATK ++;
        }
    }
    
    // maybe nerf: decrease max HP or increase cooldown for buff
    special() {  
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
        this.hardenBuff ++;
        if(this.hardenBuff >= 2){
            this.HP ++;
            if(this.HP >= 10){
                this.HP = 10;
            }
            this.hardenBuff = 0;
        }
    }
}

class Flame {
    constructor() {
        this.name = "Flame";
        this.baseHP = 4;
        this.HP = 4
        this.baseATK = 2
        this.ATK = 2;
        this.CRG = 0;
        this.hasCharge = false;
        this.timesATK = 0;
        this.blockCount = 0;
        this.blocking = false;
        this.shield = 0;
        this.flameWall = false;
        this.burn = this.ATK * .50;
        
    }
    
    removeCharge() {
        this.ATK = this.baseATK;
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
    }
    takeDamage(damage, currentHP){
        
        if(this.flameWall){
            this.HP -= damage * .50;
            this.flameWall = false;
        }
        else{
            this.HP -= damage;
        }
    }
    //     let remaining = this.shield - damage;
    //     this.HP += remaining;
    //     this.shield = this.HP - currentHP;
    //     if(this.shield <= 0){
    //         this.shield = 0;
    //     }
    //     this.HP -= this.shield;
    // }
    block() {
        this.flameWall = true;
        
        
    }
    special(){
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
        this.ATK ++;
        this.blocking = false
    }
}

class Shadow {
    constructor() {
        this.name = "Shadow";
        this.baseHP = 5;
        this.HP = 5
        this.baseATK = 1
        this.ATK = 1;
        this.CRG = 0;
        this.hasCharge = false;
        this.timesATK = 0;
        this.blockCount = 0;
        this.blocking = false;
        this.shield = 0;
        this.attacked = false
        this.voidMark = 0;
        this.voidGrasp = 0;
        this.illusionSuccessful = false;
        
    }
    
    removeCharge() {
        this.ATK = this.baseATK;
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
    }
    takeDamage(damage, currentHP){
        
        this.HP -= damage;
    }
    block() {
        console.log("Blocked!");
    }
    
    placeIllusion(status) {
        this.illusionSuccessful = status;
        if(this.illusionSuccessful){
            this.voidMark ++;
            if(this.voidMark == 2){
                this.ATK ++;
            }
            if(this.voidMark > 2 && this.voidMark < 5){
                this.HP ++;
            }
            
        }
        else{
            this.ATK --;
            this.HP --;
            this.voidMark = 0;
            if(this.HP <= 0){
                this.HP = 0;
            }
            if(this.ATK <= 0){
                this.ATK = 0;
            }
        }
        
        
    }
    markEnemy(){
        this.voidMark ++;
        if(this.voidMark == 2){
            this.ATK ++;
        }
        if(this.voidMark > 2 && this.voidMark < 5){
            this.HP ++;
        }
    }
    special(enemy){
        if(this.shield <= 0){
            this.blocking = false
            this.shield = 0;
        }
        // ADD if there are 5 stacks of Void Marks removed
        this.HP += this.voidMark / 2;
        this.ATK += this.voidMark / 2;
        this.voidMark = 0
        
        
        this.blocking = false
    }
}
// Assuming you have already defined the Player, Tank, Flame, and Shadow classes

let player1
let player2


const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);

// Retrieve the character data from URL parameters
const player1CharacterData = JSON.parse(urlParams.get('player1Character'));
const player2CharacterData = JSON.parse(urlParams.get('player2Character'));

console.log(player1CharacterData)
console.log(player2CharacterData)


player1 = new Player();
plaayer2 = new Player();







let lobbyID = null; // Variable to store the lobby ID

function getLobbyID() {
    if (!lobbyID) {
        lobbyID = prompt("Enter your lobbyID");
    }
    return lobbyID;
}
getLobbyID()
function getPlayerID() {
    return fetch(`https://serverr-ztub.onrender.com/players`, {
        method: 'POST',
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('Joined lobby:', data["id"]);
        // After getting the player ID when joining the lobby
        sessionStorage.setItem('playerID', data["id"]);

        return data["id"];
    })
    .catch(error => {
        console.error('Error joining lobby:', error);
        throw error;
    });
}
getPlayerID()
function joinLobby() {
    const lobbyID = getLobbyID(); 
    getPlayerID()
    .then(playerId => {
        if (playerId) {
            fetch(`https://serverr-ztub.onrender.com/players/${playerId}/join_lobby/${lobbyID}`, {
                method: 'POST',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Joined lobby:', data);
            })
            .catch(error => console.error('Error joining lobby:', error));
        } else {
            console.error('Player ID is undefined. Cannot join lobby.');
        }
    })
    .catch(error => {
        console.error('Error getting player ID:', error);
    });
}
joinLobby();
function getLobbyPlayers() {
    const lobbyID = getLobbyID();

    fetch(`https://serverr-ztub.onrender.com/lobby/${lobbyID}`)
        .then(response => response.json())
        .then(data => {
            console.log('Lobby players:', data);
            // Update UI to display the list of lobby players
           // const lobbyPlayerList = document.getElementById('lobbyPlayerList');
           // lobbyPlayerList.innerHTML = '';

            // Check the number of players in the lobby
            const numPlayers = data.length;

            // Assuming the playerID of the current player is stored in sessionStorage
            const currentPlayerID = sessionStorage.getItem('playerID');

            data.forEach(player => {
               // const listItem = document.createElement('li');
               // listItem.textContent = `Player ${player.id} - HP: ${player.hp}, ATK: ${player.atk}`;

                // Highlight the current player
                if (player.id === parseInt(currentPlayerID)) {
                 //   listItem.style.fontWeight = 'bold';
                 player1.HP = player.hp
                 player1.ATK = player.atk
                }
                

               // lobbyPlayerList.appendChild(listItem);
            });

            // Toggle the visibility of the "Start Match" button
           // const startMatchButton = document.getElementById('startMatchButton');
           // startMatchButton.style.display = numPlayers === 2 ? 'block' : 'none';
        })
        .catch(error => console.error('Error getting lobby players:', error));
}
getLobbyPlayers()
function startMatch() {
    const lobbyID = getLobbyID();

    // Assuming the playerID of the current player is stored in sessionStorage
    const currentPlayerID = sessionStorage.getItem('playerID');

    fetch(`https://serverr-ztub.onrender.com/lobby/${lobbyID}`)
        .then(response => response.json())
        .then(data => {
            if (data.length === 2) {
                // Find the other player's playerID
                let otherPlayerID;

            for (const element of data) {
                if (element.id !== parseInt(currentPlayerID)) {
                    otherPlayerID = element.id;
                    player2.HP = element.hp;
                    player2.ATK = element.atk;
                    break;
                }
            }

        if (otherPlayerID) {
            console.log('Other player ID:', otherPlayerID);


                    let move = prompt('Enter your move:\n');

                    if (move == 'a') {
                        fetch(`https://serverr-ztub.onrender.com/players/${otherPlayerID}/reduce/${1}`, {
                            method: 'POST'
                        }).then(response =>getLobbyPlayers())
                        
                    }
                    else if (move == 'c') {

                        fetch(`https://serverr-ztub.onrender.com/players/${currentPlayerID}/charge`, {
                            method: 'POST'
                        }).then(response =>getLobbyPlayers())
                    }
                    // Add more conditions for other moves if needed

                    // Use the otherPlayerID for further actions in your match
                    // Add your logic to start the match here
                } else {
                    console.error('Could not find the other player in the lobby.');
                }
            } else {
                console.error('Unexpected number of players in the lobby.');
            }
        })
        .catch(error => console.error('Error getting lobby players:', error));

  

}
startMatch();
function pollForUpdates() {
    const lobbyID = getLobbyID();

    // Set an interval to poll the server every 5 seconds (adjust as needed)
    setInterval(() => {
        fetch(`https://serverr-ztub.onrender.com/lobby/${lobbyID}`)
            .then(response => response.json())
            .then(data => {
                // Assuming the playerID of the current player is stored in sessionStorage
                const currentPlayerID = sessionStorage.getItem('playerID');

                // Update UI to display the list of lobby players

                document.getElementById("p1HP").innerHTML = ` HP: ${player1.HP}` ;
                document.getElementById("p2HP").innerHTML =` HP: ${player2.HP}`;
                document.getElementById("p1PWR").innerHTML = ` ATK: ${player1.ATK}`;
                document.getElementById("p2PWR").innerHTML = ` ATK: ${player2.ATK}`;


               // const lobbyPlayerList = document.getElementById('lobbyPlayerList');
                //lobbyPlayerList.innerHTML = '';  // Clear the existing content

                data.forEach(player => {
                   // const listItem = document.createElement('li');
                   //listItem.textContent = `Player ${player.id} - HP: ${player.hp}, ATK: ${player.atk}`;

                    // Highlight the current player
                   // if (player.id === parseInt(currentPlayerID)) {
                   //     listItem.style.fontWeight = 'bold';
                   // }

                 //   lobbyPlayerList.appendChild(listItem);
                });
                console.log(data);
            })
            .catch(error => console.error('Error polling for updates:', error));
    }, 2000);  // Poll every 2 seconds (adjust as needed)
}


// Call the function to start polling for updates
pollForUpdates();

/

/* 
if(p1ATKp2){ 
    player2.baseHP -= player1.ATK;
    player2.CRG++;
    console.log(`p1 hp : ${player1.baseHP} , p2 hp : ${player2.baseHP}, p2 CRG : ${player2.CRG} `);
}
*/

/*    function updateStats(){
    // player1.removeCharge();
    // player2.removeCharge();
    // updateStats();
    document.getElementById("p1HP").innerHTML =` HP: ${player1.baseHP}`;
    document.getElementById("p2HP").innerHTML =`HP: ${player2.baseHP}`;
    document.getElementById("p1PWR").innerHTML =` PWR: ${player1.ATK}`;
    document.getElementById("p2PWR").innerHTML =` PWR: ${player2.ATK}`;
    
}
*/
//     })


//-------------------------------------------------------------------- everything bellow this is liarfguhvrusfhcwufhmksaj,fhmckiutvkfuc----------------------------------------------------//




//})

// Creating 'base cases' for every player interaction outcome

/*


if (player1_Move == "b" && player2_Move == "a") {
    
    
    if(player1.blockCount == 2){
        playerMove.innerText = "Player 1 has no more block remaining!";
        
        player1.blockCount++;
        player2.CRG = 0;
        player2.ATK = 1;
    }
    
    
    // if player 1 tried to block after already blocking twice in a row, their next block will fail. //
    else if(player1.blockCount >= 2){
        player1.baseHP -= (player2.ATK + player2.CRG);
        playerMove.innerText = "Player 2's Attack went through!"; 
        player1.blockCount = 0;
        player2.CRG = 0;
        // player2.removeCharge();
    }
    
    else{
        playerMove.innerText = "Player 1 Defended Player 2's Attack!"
        player1.blockCount++;
        player2.CRG = 0;
    }
    //  player2.removeCharge();
}


if (player1_Move == "b" && player2_Move == "b") {
    playerMove.innerText = "Both players blocked! Nothing happened";
    player1.blockCount++;
}



if (player1_Move == "b" && player2_Move == "c") {
    player2.CRG++;
    player2.hasCharge = true;
    playerMove.innerText = "Player 1 Defended, Player 2 is charging up!";
    player1.blockCount++;
    prompt("Player 1 Defended, Player 2 is charging up!");
    updateStats();
}


// if player 2 tried to block after already blocking twice in a row, their next block will fail. //
if (player1_Move == "a" && player2_Move == "b") {
    
    if(player2.blockCount == 2){
        playerMove.innerText = "Player 2 has no more block remaining!";
        player2.blockCount++;
        player1.CRG = 0;
        //  player1.removeCharge();
    }
    
    if(player2.blockCount >= 2){
        player2.baseHP -= (player1.ATK - player1.CRG);
        playerMove.innerText = "Player 2's Attack went through!";
        player2.blockCount = 0;
        player1.CRG = 0;
        //  player1.removeCharge();
    }
    
    else{
        playerMove.innerText ="Player 2 Defended Player 1's Attack!";
        player2.blockCount++;
        player1.CRG = 0;
    }
    // player1.removeCharge();
}


if (player1_Move == "c" && player2_Move == "b") {
    player1.CRG++;
    player1.hasCharge = true;
    playerMove.innerText ="Player 1 is charging up! Player 2 Defended";
    player2.blockCount++;
    prompt("Player 2 has no more block remaining!");
}


if (player1_Move == "a" && player2_Move == "a") {
    if(player1.ATK > player2.ATK){
        player2.baseHP -= ((player1.ATK + player1.CRG) - (player2.ATK + player2.CRG));
        playerMove.innerText ="Player 1' Attack overpowered Player 2's Attack!";
        player1.CRG = 0;
        player2.CRG = 0;
        player2.removeCharge();
        updateStats();
        
        
    }
    if(player2.ATK > player1.ATK){
        player1.baseHP -= ((player2.ATK + player2.CRG) - (player1.ATK + player1.CRG));
        playerMove.innerText ="Player 2' Attack overpowered Player 1's Attack!";
        //player1.removeCharge();
        player1.CRG = 0;
        player2.CRG = 0;
    }
    
    else{
        player2.baseHP -= player1.ATK;
        player1.baseHP -= player2.ATK;
        playerMove.innerText = "Both Player's Attacked!";
    }
    player1.CRG = 0;
    player2.CRG = 0;
    // player1.removeCharge();
    // player2.removeCharge();
    
}


if (player1_Move == "a" && player2_Move == "c") {
    player2.baseHP -= player1.ATK;
    player2.CRG++;
    player2.hasCharge = true;
    player1.CRG = 0;
    //player1.removeCharge();
    playerMove.innerText ="Player 1 Attacked while player 2 was charging!";
}


if (player1_Move == "c" && player2_Move == "a") {
    player1.baseHP -= player2.ATK;
    player1.CRG++;
    player1.hasCharge = true;
    player2.CRG = 0;
    player2.removeCharge();
    playerMove.innerText ="Player 2 Attacked while player 1 was charging!";
}


if (player1_Move == "c" && player2_Move == "c") {
    player2.CRG++;
    player1.CRG++;
    player1.hasCharge = true;
    player2.hasCharge = true;
    playerMove.innerText ="Both players charged up!";
}


// Show the HP status of both players





// Find a way to display the game's winner
if (player1.baseHP <= 0 && player2.baseHP <= 0) {
    prompt("It's a tie!!");
}


else if (player1.baseHP <= 0) {
    prompt("Player 2 wins!");
}


else if (player2.baseHP <= 0) {
    prompt("Player 1 wins!");
}

//updateStats();



//------------------------------
//charge doesn't update correctly  :( // 

})
//threads to have syncr

function updateStats(){
    // player1.removeCharge();
    // player2.removeCharge();
    // updateStats();
    document.getElementById("p1HP").innerHTML =` HP: ${player1.baseHP}`;
    document.getElementById("p2HP").innerHTML =`HP: ${player2.baseHP}`;
    document.getElementById("p1PWR").innerHTML =` PWR: ${player1.CRG}`;
    document.getElementById("p2PWR").innerHTML =` PWRR: ${player2.CRG}`;
    
}



*/

</script>
 
</Body>
</Html>