<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script> 

       
        
            // Assuming the playerID of the current player is stored in sessionStorage
            const currentPlayerID = sessionStorage.getItem('playerID');
            const opponentID = sessionStorage.getItem('opponentID');

                 console.log(currentPlayerID)
                 console.log(opponentID)

                   // fetch(`https://serverr-ztub.onrender.com/players/`, {
                    //    method: 'POST'
                    //}).then(response =>getLobbyPlayers())
                            // Add more conditions for other moves if needed
        
                            // Use the otherPlayerID for further actions in your match
                       

        
    </script>
</body>
</html>