<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script> 

       
        
           // Retreiving the Player ID from local storage
            const currentPlayerID = sessionStorage.getItem('playerID');
            const opponentID = sessionStorage.getItem('opponentID');

                 console.log(currentPlayerID)

                fetch(`https://serverr-ztub.onrender.com/players/get_opponent/${currentPlayerID}`, {  
                }).then(response => {
                    
                    return response.json();
                })
                 // opponentID is still showwing null, use if statment to get it maybe?
                 console.log(opponentID)

                   // fetch(`https://serverr-ztub.onrender.com/players/`, {
                    //    method: 'POST'
                    //}).then(response =>getLobbyPlayers())
                            // Add more conditions for other moves if needed
        
                            // Use the otherPlayerID for further actions in your match
                       

        
    </script>
</body>
</html>